.button
{
    -fx-background-color: #0b63f6;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgb(120, 159, 226), 10, 0.3, 0, 5);

    -fx-transition: all 0.5s ease-in-out;

    -fx-pref-height: 50px;
    -fx-pref-width: 80px;
}

.button:hover
{
    -fx-translate-y: -3px;
    -fx-effect: dropshadow(gaussian, rgba(120, 159, 226), 30, 0.4, 0, 10);
}

.button:pressed
{
    -fx-background-color: #03245c;
}

.label
{
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-padding: 10px;
}

